/* CSS document with styles for classes not in the bootstraps.css */

header {
    position: relative;
    width: 100%;
    min-height: 800px;
    text-align: center;
    color: #000;
    background-image: url(../img/jan.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    padding-top: 100px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.project-name {
	text-align: center;
	font-size: 18px;	
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.project-name:hover {
	color:#3399B7;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.container-text {
	text-align: center;
	font-size: 18px;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
h2.container {
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.footer {
	background-color:#FF5733;
	padding-left: 25px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.footer p {
	color:#fff;
	font-size:16px;
	text-align:right;
}
.footer a {
	color: #3399B7;
}
.portfolio-box {
	width: 845px;
	height: 524px;

}

p.bg-primary, p.bg-secondary {
	font-size: 18px;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;

}
h2.bg-primary, h2.bg-secondary {
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.glyphicon.glyphicon-cd, .glyphicon.glyphicon-wrench, .glyphicon.glyphicon-credit-card,
 .glyphicon.glyphicon-heart, .glyphicon.glyphicon-star{
    font-size: 60px;
}

a.portfolio-box {
	text-decoration: none;
	padding-bottom: 5px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;

}
.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #FF5733;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box-caption:hover {
	opacity: 50%;

}

 font-size: 18px;
}
